{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/submission_review.css' %}">
{% endblock %}

{% block content %}

<div class="dashboard-section">

    <div class="dashboard-main">

        <!-- HEADER -->
        <div class="page-header text-center">
            <span class="dashboard-badge">Task Submission</span>
            <h1>{{ task.title }}</h1>
            <p>Submit your work carefully before review</p>
        </div>

        <!-- FORM CARD -->
        <div class="review-card">

            <div class="review-glow"></div>

            <form method="POST">
                {% csrf_token %}

                <!-- GitHub -->
                <div class="mb-3">
                    <label class="form-label">GitHub URL</label>
                    <input type="url" name="github_url" class="form-control" placeholder="https://github.com/your-repo">
                    <small class="submitted-by">Paste your repository link</small>
                </div>

                <!-- Drive -->
                <div class="mb-3">
                    <label class="form-label">Drive URL</label>
                    <input type="url" name="drive_url" class="form-control" placeholder="https://drive.google.com/...">
                    <small class="submitted-by">Share your Google Drive file/folder link</small>
                </div>

                <!-- Notes -->
                <div class="notes-section">
                    <h4>Task Details</h4>

                    <p>
                        {{ task.description }}
                    </p>

                    <p>
                        <strong>Deadline :</strong>
                        {{ task.deadline }}
                    </p>
                    <h4>Notes</h4>
                    <textarea name="notes" rows="4" class="form-control"
                        placeholder="Add any extra information..."></textarea>
                </div>

                <!-- ACTION -->
                <div class="action-row">
                    <button type="submit" class="approve-btn">
                        🚀 Submit Work
                    </button>
                </div>

            </form>

        </div>

    </div>

</div>

{% endblock %}